{"openapi":"3.0.1","info":{"title":"Hidro Webservice","description":"API para Consulta Hidro Webservice - REST API Documentation","contact":{"name":"ANA - Agência Nacional de Águas","url":"https://www.ana.gov.br","email":"stiatende@ana.gov.br"},"version":""},"externalDocs":{"description":"Documentação","url":"/hidrowebservice/manual"},"servers":[{"url":"https://www.ana.gov.br/hidrowebservice"}],"security":[{"Authorization":[]}],"tags":[{"name":"WSEstacoesTelemetricasController","description":"Consultas Hidro Webservice"}],"paths":{"/EstacoesTelemetricas/OAUthPermissoes/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Método que retorna as permissões através do accesstoken SSO","operationId":"oAUthPermissoes","parameters":[{"name":"accesstoken","in":"header","description":"Acess Token","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"header","description":"Client ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/OAUth/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Método de autenticação do serviço, (ver manual do usuário para maiores detalhes)","operationId":"oAUth","parameters":[{"name":"Identificador","in":"header","description":"IDENTIFICADOR/USUÁRIO","required":true,"schema":{"type":"string"}},{"name":"Senha","in":"header","description":"SENHA","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidrosatSerieDados/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries das estações virtuais (HidroSat). Deve ser informado o código de estação (consulta HidroSatInventarioEstacoes) e período (limitado a 366 dias por requisição).","operationId":"gethidrosatseriealtimetria","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"string"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidrosatInventarioEstacoes/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Inventário de estações virtuais (estimação por satélite) cadastradas na base HidroSat. Não há limitação de busca por requisição.","operationId":"gethidrosatinventarioestacoes","parameters":[{"name":"Código da Estação","in":"query","required":false,"schema":{"type":"string"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroinfoanaSerieTelemetricaDetalhada/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries das estações telemétricas. Além dos dados adotados, são retornados também os dados brutos disponíveis. Deve ser informado o código da estação e período (limitado a 30 dias por requisição).","operationId":"gethidroinfoanaserietelemetricaDetalhada","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data de Busca (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Range Intervalo de busca","in":"query","required":true,"schema":{"type":"string","enum":["MINUTO_5","MINUTO_10","MINUTO_15","MINUTO_30","HORA_1","HORA_2","HORA_3","HORA_4","HORA_5","HORA_6","HORA_7","HORA_8","HORA_9","HORA_10","HORA_11","HORA_12","HORA_13","HORA_14","HORA_15","HORA_16","HORA_17","HORA_18","HORA_19","HORA_20","HORA_21","HORA_22","HORA_23","HORA_24","DIAS_2","DIAS_7","DIAS_14","DIAS_21","DIAS_30"]}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroinfoanaSerieTelemetricaAdotada/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries das estações telemétricas. Retorna os dados adotados de chuva, nível e vazão. Deve ser informado o código da estação e período (limitado a 30 dias por requisição).","operationId":"gethidroinfoanaserietelemetricaAdotada","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data de Busca (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Range Intervalo de busca","in":"query","required":true,"schema":{"type":"string","enum":["MINUTO_5","MINUTO_10","MINUTO_15","MINUTO_30","HORA_1","HORA_2","HORA_3","HORA_4","HORA_5","HORA_6","HORA_7","HORA_8","HORA_9","HORA_10","HORA_11","HORA_12","HORA_13","HORA_14","HORA_15","HORA_16","HORA_17","HORA_18","HORA_19","HORA_20","HORA_21","HORA_22","HORA_23","HORA_24","DIAS_2","DIAS_7","DIAS_14","DIAS_21","DIAS_30"]}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroUF/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Lista de unidades federativas cadastradas na base HIDRO. Não há limitação de busca por requisição.","operationId":"getHidroUF","parameters":[{"name":"Código da UF","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSubBacia/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Lista de sub-bacias hidrográficas cadastradas na base HIDRO. Não há limitação de busca por requisição.","operationId":"gethidrosubbacia","parameters":[{"name":"Código da Sub-Bacia","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieVazao/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de vazão das estações convencionais (coleta manual). Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"gethidroserievazao","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieSedimentos/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de sedimento das estações convencionais (coleta manual). Deve ser informado o código de e período (limitado a 366 dias por requisição).","operationId":"gethidroseriesedimentos","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieResumoDescarga/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de medições de descarga líquida das estações. Deve ser informado o código de estação (consulta HidroInventarioEstacoes) e período (limitado a 366 dias por requisição).","operationId":"gethidroserieresumodescarga","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieQA/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de qualidade de água das estações convencionais (coleta manual). Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"gethidroserieqa","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSeriePerfilTransversal/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de medições do perfil transversal das estações. Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"getHidroSeriePerfilTransversal","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieGranulometria/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Série de Granulometria para as estações. Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"getHidroSerierGranulometria","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieCurvaDescarga/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Série de curvas de descarga líquida traçadas para as estações. Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"getHidroSerieCurvaDescarga","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieCotas/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de cota das estações convencionais (coleta manual). Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"gethidroseriecotas","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroSerieChuva/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Séries de chuva das estações convencionais (coleta manual). Deve ser informado o código de estação e período (limitado a 366 dias por requisição).","operationId":"gethidroseriechuva","parameters":[{"name":"Código da Estação","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"Tipo Filtro Data","in":"query","required":true,"schema":{"type":"string","enum":["DATA_LEITURA","DATA_ULTIMA_ATUALIZACAO"]}},{"name":"Data Inicial (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Data Final (yyyy-MM-dd)","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"Horário Inicial (00:00:00)","in":"query","required":false,"schema":{"type":"string"}},{"name":"Horário Final (23:59:59)","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroRio/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Lista de corpos hídricos cadastrados na base HIDRO. Não há limitação de busca por requisição.","operationId":"gethidrorio","parameters":[{"name":"Código do Rio","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroMunicipio/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Lista de municípios cadastrados na base HIDRO. Ressalta-se que a base Hidro usa um código diferente do IBGE. Não há limitação de busca por requisição.","operationId":"getHidroMunicipio","parameters":[{"name":"Código do Município","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroInventarioEstacoes/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Inventário completo de estações cadastradas na base Hidro. Deve ser informado, ao menos, um dos seguintes filtros: Cód. Estação, Cód. Bacia ou UF.","operationId":"gethidroinventarioestacoes","parameters":[{"name":"Código da Estação","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Unidade Federativa","in":"query","required":false,"schema":{"type":"string","enum":["AC","AL","AM","AP","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR","SC","SP","SE","TO"]}},{"name":"Código da Bacia","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroEntidade/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Lista de entidades cadastradas na base Hidro. As entidades são utilizadas para caracterizar o responsável e operador das estações. Não há limitação de busca por requisição.","operationId":"getHidroEntidade","parameters":[{"name":"Código da Entidade","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}},"/EstacoesTelemetricas/HidroBacia/v1":{"get":{"tags":["WSEstacoesTelemetricasController"],"summary":"Lista de bacias hidrográficas cadastradas na base Hidro. Não há limitação de busca por requisição.","operationId":"gethidrobacia","parameters":[{"name":"Código da Bacia","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Data Atualização Inicial (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"Data Atualização Final (yyyy-MM-dd)","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chamada Realizada com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"417":{"description":"Erro Inesperado. Expectativa Falha","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"201":{"description":"Recurso Criado com Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"401":{"description":"Autorização é Requerida. Não Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"500":{"description":"Erro Inesperado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}},"406":{"description":"Parâmetro ou Informação Não Aceitável","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Devolucao"}}}}},"security":[{"Authorization":[]}]}}},"components":{"schemas":{"Devolucao":{"type":"object","properties":{"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"items":{"type":"object"}}}},"securitySchemes":{"Authorization":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}